body {

background-color: #D3D3D3;
font-family: Verdana;

} 

h1 {
	font-size: 2.5em;
	text-align: center;
}

.container {
background-color: #3d4543;
height: 470px;
width: 390px;
border-radius: 10px;
position: relative;
top: 20px;
margin-left: auto;
margin-right: auto;
border: solid white 3px;

}

.display {

margin-right: auto;
margin-left: auto;
padding-left: 25px;
padding-right: 25px;
border-radius: 10px;
border: solid black 3px;

}

.keys {
margin-right: auto;
margin-left: auto;
margin-top: 10px;
padding: 5px;
border-radius: 10px;
border: solid black 3px;
	
}

#first_input {
background-color: 244,244,244;
height: 45px;
width: 125px;
margin: 5px;
border: solid red 3px;
border-radius: 10px;
}

#operator {
background-color: 244,244,244;
height: 45px;
width: 45px;
border: solid red 3px;
border-radius: 10px;
}

#second_input {
background-color: 244,244,244;
height: 45px;
width: 125px;
margin: 5px;
border: solid red 3px;
border-radius: 10px;
}

.button_styling {

font-size: 1.5em;
font-weight: bold;
margin: 5px;
background-color: #778899;
height: 60px;
width: 60px;
font-size: 1.5em;
font-weight: bold;
border-radius: 10px;
border-color: white;
border: 3px;
}

#btnE	qual.button_styling {
background-color: #cd5c5c;
margin: 10px;
height: 60px;
width: 300px;
}
 