body {
  background-color: salmon;
  font-family: verdana;
  color: purple;
  text-align: center;
}


.container {
  height: 300px;
  width: 300px;
  border-top: 200px;
  border-left: 300px;
  margin: auto;


}

#even {
  background-color: #3d3d3d;
  color: white;
}

#server {
  margin-top: 200px;
  border: double 5px black;
  background-color: lightgray;
}