

.well {
	background-color: #99ddff;
	position: relative;
}

h3.weatherDate {
	/*font-size: 20px;
	font-weight: bold;*/
}

.row {
	/*font-size: 12px;*/
}

.weather {
	width: 30%;
	height: 300px;
	background-color: #f0f0f0;
	text-align: center;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.temperature {

	/*font-size: 20px;*/
	font-weight: bold;
}

#boldMain {
	font-weight: bold;
}

#map_address {
	width: 350px;
}
#submitMap {
	margin: 10px;
}

#map-canvas {
	margin-top: 10px;
	width: 91%;
	height: 400px;
}